// Put custom SCSS rules in this file
// Documentation: https://sass-lang.com/documentation
.home-banner {
    background-color: $gray-0;

    .container{
        display: flex;
        align-items: center;
        width: 1132px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        height: 500px;
        background-image: url(/images/stack.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: 126px;
        background-size: 375px 273px;

        p {
            width: 50%;
        }

        h1 {
            color: $gray-5;
        }
    }
}
  
.home-products {
  img {
    max-height: 200px;
  }
}

.home-stats {
  background-color: $gray-0;
}

.features-started {
  p {
    min-height: 85px;
  }
}